#kt_body {
    height: 100vh;
    display: flex;
}

.brand-logo img {
    width: 158px;
}

.card-sticky-on-custom {
    z-index: 90;
    top: 119px;
    left: 290px;
    right: 25px;
}

.card-sticky-on-custom2 {
    z-index: 90;
    top: 119px;
    left: 161px;
    right: 90px;
}

.select2 {
    margin-bottom: 0.5rem !important;
    width: 100% !important;
}

#kt_datatable_modal .select2-container {
    background-color: #e9ecef !important;
}

.modal-date {
    margin-left: auto;
    margin-right: 50px;
    font-size: 15px;
}

.modal-status {
    font-size: 13px !important;
    padding: 20px !important;
}

.vehicle-img {
    height: 60px;
}

.DTFC_RightHeadWrapper {
    top: -14px !important;
}

.DTFC_RightHeadWrapper table {
    padding-left: 7px;
}

.DTFC_RightBodyWrapper {
    top: -40px !important;
}

.travel-vehicle-img {
    height: 97px;
}

.mb-n-10 {
    margin-bottom: -10px !important;
}

.mt-n-4 {
    margin-top: -4px !important;
}

.jumbotron-mini {
    background: #eee;
    padding: 10px;
    border-radius: 5px;
}

.mobile-logo{
    height:20px;
}

.modal-dialog.modal-xxl {
    max-width: 1700px;
}

.dashed-border {
    width: 95%;
    margin: auto;
    border-top: 2px dashed #666;
}

.timeline.timeline-5:before {
    z-index: 1;
    background-color: #ccc !important;
}

.timeline.timeline-5 {
    height: 40px !important;
}

.save-form-btn {
    width: fit-content !important;
    margin-left: auto !important;
    display: block !important;
}

.fc-content {
    white-space: pre-wrap !important;
}

.w-15 {
    width: 15% !important;
}

#pending-travels-tbl th {
    text-align: center;
}

.spinner {
    z-index: 20 !important;
}

.bg-gray {
    background-color: #eee !important;
}