.brand-logo img {
    width: 158px;
}

.card-sticky-on-custom {
    z-index: 90;
    top: 119px;
    left: 290px;
    right: 25px;
}

.card-sticky-on-custom2 {
    z-index: 90;
    top: 119px;
    left: 161px;
    right: 90px;
}

.select2-container {
    margin-bottom: 0.5rem !important;
}

.modal-date {
    margin-left: auto;
    margin-right: 50px;
    font-size: 15px;
}

.modal-status {
    font-size: 13px !important;
    padding: 20px !important;
}