body {
    background: rgb(204, 204, 204);
}
page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-top: 0.8cm;
    margin-bottom: 1.5cm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}
page[size="officio"] {
    width: 21.59cm;
    height: 33.02cm;
}
page[size="A4"] {
    width: 21cm;
    height: 29.7cm;
}
page[size="A4"][layout="landscape"] {
    width: 29.7cm;
    height: 21cm;
}
page[size="A3"] {
    width: 29.7cm;
    height: 42cm;
}
page[size="A3"][layout="landscape"] {
    width: 42cm;
    height: 29.7cm;
}
page[size="A5"] {
    width: 14.8cm;
    height: 21cm;
}
page[size="A5"][layout="landscape"] {
    width: 21cm;
    height: 14.8cm;
}

.paper-page {
    padding: 3.75rem;
}

html,
body,
.main,
.tabs,
.tabbed-content {
    float: none;
}

#line-break {
    display: block;
    page-break-before: always;
    position: absolute !important;
}

thead {
    display: table-header-group;
}
tfoot {
    display: table-header-group;
}

.brand-logo img {
    width: 158px;
}

.brand {
    background-color: #fff !important;
}

.print-logo {
    width: 150px;
}

.header-text {
    line-height: 14px;
    font-weight: 500;
    font-size: 11px;
}

.text-underline {
    text-decoration: underline !important;
}

.input-text {
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
}

/* table, th, td {
    border: 1px solid #AAA;
} */

.table-border {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.outline-0 {
    outline: none !important;
}

.dashed-border {
    width: 100%;
    margin: auto;
    border-top: 2px dashed #666;
}

.w-35 {
    width: 35% !important;
}

.w-10 {
    width: 115px !important;
}

.textarea {
    border: 1px solid #aaa;
    font-size: 14px;
}

.break-page {
    page-break-before: always;
}

.page-header-right {
    text-align: right;
    font-size: 11px;
    font-style: italic;
}

.box-letter {
    border: 1px solid gray;
    padding-left: 6px;
    padding-right: 6px;
    margin-right: 3px;
}

.box-number {
    border: 1px solid gray;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 3px;
}

.underline {
    width: 100%;
    border-bottom: 1px solid gray;
}

.div-height {
    height: 27px !important;
}

.row-height {
    height: 20px !important;
}

.line-height-25 {
    line-height: 2.5 !important;
}

.odometer,
.odometer td,
.odometer th {
    border: 1px solid black !important;
}

.odometer {
    width: 100%;
    border-collapse: collapse;
}

.fs-9 {
    font-size: 9px !important;
}

.fs-11 {
    font-size: 11px !important;
}

.fs-12 {
    font-size: 12px !important;
}

.fs-10 {
    font-size: 10px !important;
}

.h-15 {
    height: 15px !important;
}

.w-90 {
    width: 90% !important;
}

#tripTicket p {
    margin: 0;
    padding: 0;
}
#tripTicket .left-header,
#tripTicket .right-header {
    width: 28%;
}
#tripTicket img {
    margin: 0 0 0 17px !important;
}

#tripTicket .header-title p {
    margin: 0;
    text-align: center;
}

#tripTicket .header-title .main {
    font-size: 11px;
    font-weight: bold;
}

#tripTicket .header-title .sub-main {
    font-size: 9px;
}

#tripTicket .header-title .sub {
    font-size: 7px;
}

#tripTicket .paper-page {
    padding: 1.75rem;
}

#tripTicket thead hr,
#tripTicket tfoot hr {
    border: 1px solid black;
}

#tripTicket .sign {
    width: 30%;
    margin: auto;
}

#tripTicket .signatories {
    margin-top: 10px;
}

#tripTicket .signatories hr {
    margin: 0;
    border: none;
    border-top: 1px solid black;
}

#tripTicket #tbl-passengers,
#tripTicket #tbl-passengers th,
#tripTicket #tbl-passengers td {
    border: 1px solid black;
    border-collapse: collapse;
}

#tripTicket #tbl-passengers tbody tr td {
    padding: 5px;
    font-size: 10px;
    height: 25px;
}

@media print {
    @page {
        /* margin: 3rem; */
        box-shadow: 0;
        /* font-size: 90px !important; */
        /* font-size: 500rem !important; */
        /* size: auto; */
        /* padding: 3.75rem; */
    }
    table {
        font-size: 20px !important;
    }
    #tripTicket thead .main {
        font-size: 14px !important;
    }
    #tripTicket thead .sub-main {
        font-size: 13px !important;
    }
    #tripTicket thead .sub {
        font-size: 12px !important;
    }
    #tripTicket tbody p {
        font-size: 17px !important;
    }

    #tripTicket table {
        font-size: 15px !important;
    }

    #tripTicket #tbl-passengers thead tr th,
    #tripTicket #tbl-passengers tbody tr td {
        height: 45px !important;
        font-size: 14px !important;
    }

    #tripTicket #tbl-liters tr td {
        font-size: 15px !important;
    }

    #tripTicket .ctrl-no {
        font-size: 13px !important;
    }

    #tripTicket .print-logo {
        height: 60px !important;
    }

    /* h5 {
        font-size: 23px !important;
    } */
    #line-break {
        page-break-before: always !important;
    }
}
